h1{
    color:blue;
    font-family:cursive;
    font-size:80px;
}
h2{
    color:brown;
    font-family:monospace;
    font-size:50px;
}
h2{
    color:brown;
    font-family:monospace;
    font-size:50px;
}
h3{
    color:brown;
    font-family:monospace;
    font-size:40px;
}
h4{
    color:brown;
    font-family:monospace;
    font-size:30px;
}
h5{
    color:brown;
    font-family:monospace;
    font-size:20px;
}
h6{
    color:brown;
    font-family:monospace;
    font-size:10px;
}
table{
    border:2px dashed blue;
}
th,td{
    border:2px solid blue;
}
p{
    color:blueviolet;
    font-size:15px;
}